.WebContainer{
    width: 100%;
    height: auto;
}
 P1   {
    display:block;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-navbar {

    font-size: 30px;
    float: right;
    margin: 0px 100px 0px 0px;
    flex-direction: row;
    text-decoration: none;
}

.custom-navbar a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

/* News Article CSS */


.news-articles {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.news-articles h1 {

    color: white;
    font-size: 50px;
    text-shadow: black 5px 5px 5px;
    text-decoration: underline;

}

.news-articles div {

    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    width: 400px;
<<<<<<< HEAD
    max-height: fit-content;
=======
    max-height: 450px;
>>>>>>> parent of c8ffe71 (added youtube video functionality, and a few cleanups here and there for the realted articles to display a little cleaner.)
    border-radius: 10px;
    box-shadow: black 5px 5px 5px;

}


.article-title {

    font-size: 30px;
    text-decoration: underline
}

.article-desc {

    font-size: 20px;
}

.article-link {

    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 15px;
}

body{
    background-color: rgb(138, 156, 172);
<<<<<<< HEAD
=======
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
>>>>>>> parent of c8ffe71 (added youtube video functionality, and a few cleanups here and there for the realted articles to display a little cleaner.)
}

