p1{
    display:block;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-navbar {


    width: 800px;
    font-size: 30px;
    float: right;
    margin: 0px 100px 0px 0px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;

}

.custom-navbar a {
    text-decoration: none;

    color: white;
}

/* Movie Reviews */

#review-title {

    color: white;
    position: relative;
    left: 20px;
    top: 20px;
    text-shadow: black 5px 5px 5px;
}

.reviews div {

    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 50px;
    flex-direction: column;
    width: 95%;
    max-height: 450px;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-shadow: black 5px 5px 5px;


}

/* News Article CSS */

.news-articles {

    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#article {

    color: white;
    position: relative;
    left: 20px;
    top: 20px;
    text-shadow: black 5px 5px 5px;

}

.news-articles h1 {

    color: white;
    position: absolute;
    font-size: 50px;
    text-shadow: black 5px 5px 5px;
    text-decoration: underline;

}

.news-articles div {

    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    width: 98%;
    max-height: 450px;
    border-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-shadow: black 5px 5px 5px;

}


.article-title {

    font-size: 30px;
    text-decoration: underline;
    font-weight: 600;
}

.article-desc {

    font-size: 20px;
}

.article-link {

    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 15px;
}

/* Movie Trailer */

.movie-trailer {

    background-color: rgb(12, 12, 12);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}


/*  */

body{
    background-color: rgb(138, 156, 172);
    font-family: Arial, Helvetica, sans-serif
}
#display{
    display:block;
    border-radius :8px;
    border:5px solid #ddd;
    padding:5px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.intro{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.intro h1 {
    text-align: center;
}
.intro p1{
    text-align: center;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }